.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  position: relative;
  font-size: 2.5rem;
  line-height: 3rem;
  text-shadow: 1px 1px 6px #fff;
  opacity: 0;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-dasharray: 0 0;
}